[Unit]
Description=Clash
After=network.target NetworkManager.service systemd-networkd.service iwd.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/clash -d /home/shejialuo/.config/clash

[Install]
WantedBy=default.target
