{{ if eq .chezmoi.hostname "ArchLinux" -}}
export ZSH="/home/shejialuo/.oh-my-zsh"
export EDITOR="vim"
ZSH_THEME="agnoster"
plugins=(git copyfile copypath zsh-autosuggestions web-search autojump zsh-syntax-highlighting zsh-history-substring-search)
source $ZSH/oh-my-zsh.sh
alias pc="proxychains4"
alias p-on="export https_proxy=http://127.0.0.1:7890; export http_proxy=http://127.0.0.1:7890"
alias p-off="unset http_proxy https_proxy"
alias fm="pcmanfm"

source $ZSH_CUSTOM/plugins/dracula/zsh-syntax-highlighting.sh
source $HOME/.profile

bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

export MANPAGER="/usr/bin/less -s -M +Gg"
export LESS_TERMCAP_mb=$'\e[1;31m'      # begin bold
export LESS_TERMCAP_md=$'\e[1;34m'      # begin blink
export LESS_TERMCAP_so=$'\e[01;45;37m'  # begin reverse video
export LESS_TERMCAP_us=$'\e[01;36m'     # begin underline
export LESS_TERMCAP_me=$'\e[0m'         # reset bold/blink
export LESS_TERMCAP_se=$'\e[0m'         # reset reverse video
export LESS_TERMCAP_ue=$'\e[0m'         # reset underline
export GROFF_NO_SGR=1                   # for konsole
{{ else if eq .chezmoi.hostname "ArchWSL" -}}
export ZSH="/home/shejialuo/.oh-my-zsh"
export EDITOR="vim"
plugins=(git zsh-autosuggestions web-search autojump zsh-syntax-highlighting)
ZSH_THEME="agnoster"
source $ZSH/oh-my-zsh.sh
export WIN_IP=`cat /etc/resolv.conf | grep nameserver | awk '{print $2}'`
sed -i '/\[ProxyList\]/,$d' ~/.proxychains.conf
echo '[ProxyList]\nsocks5 '${WIN_IP}' 7890' >> ~/.proxychains.conf
alias pc='proxychains4 -q -f ~/.proxychains.conf'
my_proxy=http://${WIN_IP}:7890
alias p-on='export all_proxy='${my_proxy}' http_proxy='${my_proxy}' https_proxy='${my_proxy}''
alias p-off='unset all_proxy http_proxy https_proxy'
{{ end -}}
