[mgr]
ratio = [1, 4, 3]
sort_dir_first = true
show_symlink = true
title_format = ""

[preview]
wrap = "yes"
tab_size = 8
max_width = 7680
max_height = 4320

[which]
sort_by = "key"

[opener]
edit = [
    { run = '${EDITOR:-vim} "$@"', desc = "$EDITOR", block = true, for = "unix" },
    { run = 'code "$@"', orphan = true, desc = "code", for = "unix" }
]
open = [
    { run = 'xdg-open "$1"', desc = "Open", for = "linux" },
    { run = 'open "$@"', desc = "Open", for = "macos" },
]
reveal = [
    { run = 'xdg-open "$(dirname "$1")"', desc = "Reveal", for = "linux" },
    { run = 'open -R "$1"', desc = "Reveal", for = "macos" },
]
extract = [
    { run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
play = [
    { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
    { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]

[open]
rules = [
    { name = "*/", use = [ "open", "reveal" ] },
    { mime = "text/*", use = [ "edit", "reveal" ] },
    { mime = "image/*", use = [ "open", "reveal" ] },
    { mime = "{audio,video}/*", use = [ "play", "reveal" ] },
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
    { mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
    { mime = "*/javascript", use = [ "edit", "reveal" ] },
    { mime = "inode/empty", use = [ "edit", "reveal" ] },
    { name = "*", use = [ "open", "reveal" ] },
]
